table.table
  thead
    tr
      th #
      th name
      th score
  tbody
    if active
      tr.active
        td= active.pos
        td= active.name.substr(0, 20)
        td= active.score.toFixed(0)
      each player in players
        tr
          td= player.pos
          td= player.name.substr(0, 20)
          td= player.score.toFixed(0)
    else
      each player in players
        tr
          td= player.pos
          td= player.name.substr(0, 20)
          td= player.score.toFixed(0)